<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>	
	<form method="POST" action="/add">
		<input type="text" name="task" placeholder="task you want to add" required> 
		<h2>Starting date</h2>
		<input type="date" name="sdate" required>
		<h2>Ending Date</h2>
		<input type="date" name="edate" required><br>
		<button type="submit">Add Task</button>
	</form>
	<br><br><br><br>
	<h1>Enter the task you want to search</h1>
	<form method="POST" action="/search">
		<input type="text" name="searching" placeholder="search" required>
		<button type="submit">Search</button>
	</form>
	<br>
	<br>
	<table border="1">
		<tr>
			<th>
				tasks
			</th>
			<th>
				starting date
			</th>
			<th>
				ending date
			</th>
			<th>
				status
			</th>
		</tr>
		{% for x in data %}
		<tr>
			<td>{{x[2]}}</td>
			<td>{{x[3]}}</td>
			<td>{{x[4]}}</td>
			<td>{{x[5]}}</td>
		</tr>
		{% endfor %}
	</table>
	<form method="POST" action="/login.html">
		<button type="submit">log out</button>
	</form>

</body>
</html>