<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
</head>
<body>	
	<h1> id {{ data[0][0] }}</h1>
	<h1> username  {{data[0][1] }}</h1>
	<h1> email  {{data[0][2]}}</h1>
	<h1> password {{data[0][3]}}</h1>
	<h2>Enter the task you want to create</h2>
	<input type="text" name="tasks" placeholder="task you want to add"> 
	<h2>Starting date</h2>
	<input type="date" name="sdate">
	<h2>Ending Date</h2>
	<input type="date" name="edate"><br>
	<button>Add Task</button>
	<table border="1">
		<tr>
			<th>
				tasks
			</th>
			<th>
				starting date
			</th>
			<th>
				ending date
			</th>
			<th>
				status
			</th>
		</tr>
		<tr>
			<td>ds</td>
			<td>dfsfs</td>
			<td>fdsfdsf</td>
			<td>fdsfdsdfsa</td>
		</tr>
	</table>
	<form method="POST" action="/login.html">
		<button type="submit">log out</button>
	</form>

</body>
</html>